.corpo{
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    background-color: rgb(220, 158, 188);
}
.divisao1{
    width: 375px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
    padding: 50px;
    border-radius: 20px;
    background-color: rgb(94, 19, 100);
    margin-bottom: 200px;
}
.imagem-principal{
    width: 100%;
    height: auto;
    
}
.imagem-principal img{
    width: 100%;
    height: 300px;
    border-radius: 20px;   
}
.titulo{
    color: rgb(255, 255, 255);
}
p{
    color: rgb(255, 255, 255);
}
.divisao2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(120, 120, 120);
}
.span1{
    color: rgb(0, 218, 134);
}
.span2{
    color: rgb(120, 120, 120);
}
.center{
    display: flex;
    align-items: center;
}
.center img{
    margin-right: 5px;
}
.divisao3{
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.divisao3 img{
    margin-right: 20px;
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-radius: 50%;
}
.span3{
    color: rgb(120, 120, 120);
}
.span4{
    color:aliceblue
}